---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features from '~/components/widgets/Features.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import ContentBlock from '~/components/widgets/ContentBlock.astro';
import { reader } from '~/utils/keystatic';
import { getLocale, t } from 'i18n:astro';
import { getImageModule } from '~/utils/images';
import type { GuideWithImage } from '~/types';

// Images
import guidesAttachPointImage from '~/assets/images/guides-attach-point.jpg';

const metadata = {
  title: t('guides:meta.title'),
  description: t('guides:meta.description'),
};

const guides = await reader.collections[`${getLocale()}_guide`].all();

const guidesWithImages: GuideWithImage[] = await Promise.all(
  guides.map(async ({ entry }) => ({
    ...entry,
    imageModule: await getImageModule('guides', entry.image),
  }))
);
---

<Layout metadata={metadata} ctaBanner>
  <Hero tagline={t('guides:hero.tagline')} title={t('guides:hero.title')} subtitle={t('guides:hero.subtitle')} />

  <Steps
    title={t('guides:inspections.title')}
    items={[
      {
        title: t('guides:inspections.items.inspect.title'),
        description: t('guides:inspections.items.inspect.description'),
        icon: 'tabler:eye',
      },
      {
        title: t('guides:inspections.items.control.title'),
        description: t('guides:inspections.items.control.description'),
        icon: 'tabler:search',
      },
    ]}
    image={{
      src: guidesAttachPointImage,
      alt: t('guides:inspections.image.alt'),
      loading: 'eager',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Steps>

  <Features
    title={t('guides:storage.title')}
    subtitle={t('guides:storage.subtitle')}
    columns={2}
    items={[
      {
        title: t('guides:storage.items.sunExposure.title'),
        description: t('guides:storage.items.sunExposure.description'),
        icon: 'tabler:sun-off',
      },
      {
        title: t('guides:storage.items.humidity.title'),
        description: t('guides:storage.items.humidity.description'),
        icon: 'tabler:droplet-off',
      },
    ]}
  />

  {
    guides.length && (
      <>
        <WidgetWrapper containerClass="max-w-5xl !pb-5">
          <Headline title={t('guides:avoidableMistakes.title')} subtitle={t('guides:avoidableMistakes.subtitle')} />
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-slate-50" />
          </Fragment>
        </WidgetWrapper>

        {guidesWithImages.map((guide, index) => (
          <ContentBlock
            title={guide.title}
            icon="tabler:alert-triangle"
            content={guide.description}
            {...(guide.imageModule ? { image: { src: guide.imageModule, alt: guide.imageAlt ?? '' } } : {})}
          >
            {index % 2 !== 0 && (
              <Fragment slot="bg">
                <div class="absolute inset-0 bg-slate-50" />
              </Fragment>
            )}
          </ContentBlock>
        ))}
      </>
    )
  }
</Layout>
