---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import ShopStatus from '~/components/widgets/ShopStatus.astro';
import MarkdownEasterEgg from '~/components/ui/MarkdownEasterEgg.astro';
import BreadcrumbsSEO from '~/components/common/BreadcrumbsSEO.astro';
import { PHONE } from '~/constants/contact';
import { ADDRESS } from '~/constants/contact';
import { getLocalePath, t } from 'i18n:astro';
import Content from '~/components/widgets/Content.astro';
import bonusImage from '~/assets/images/bonus.jpeg';

const metadata = {
  title: t('contact:meta.title'),
  description: t('contact:meta.description'),
};
---

<Layout metadata={metadata}>
  <BreadcrumbsSEO items={[{ name: t('contact:meta.title'), url: getLocalePath('/contact') }]} />

  <Hero tagline={t('contact:hero.tagline')} title={t('contact:hero.title')} subtitle={t('contact:hero.subtitle')} />

  <Features2
    items={[
      {
        title: t('contact:phone.title'),
        description: PHONE.FORMAT_INTL,
        icon: 'tabler:phone',
        callToAction: {
          text: t('contact:phone.cta'),
          href: `tel:${PHONE.E164}`,
          target: '_blank',
        },
      },
      {
        title: t('contact:address.title'),
        description: ADDRESS,
        icon: 'tabler:map-pin',
        callToAction: {
          text: t('contact:address.cta'),
          href: "https://www.google.com/maps/dir/?api=1&destination=Atelier+d'ailes",
          target: '_blank',
        },
      },
      {
        title: t('contact:opening.title'),
        description: t('contact:opening.description'),
        icon: 'tabler:calendar',
        slotContent: {
          Component: ShopStatus,
          props: {
            id: 'contact',
          },
        },
      },
      {
        title: t('contact:helper.contact.title'),
        description: t('contact:helper.contact.description'),
      },
      {
        title: t('contact:helper.access.title'),
        description: t('contact:helper.access.description'),
      },
      {
        title: t('contact:helper.rendezVous.title'),
        description: t('contact:helper.rendezVous.description'),
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Features2>

  <Content
    columns={2}
    isReversed
    image={{
      src: bonusImage,
      alt: t('contact:bonus.image.alt'),
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl mb-2">
        {t('contact:bonus.title')}
      </h2>
      <MarkdownEasterEgg class="text-muted" content={t('contact:bonus.description')} />
    </Fragment>
  </Content>
</Layout>
