---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/widgets/Prices.astro';
import PriceTable from '~/components/widgets/PriceTable.astro';
import { getLocalePath, t } from 'i18n:astro';

const metadata = {
  title: t('pricing:meta.title'),
  description: t('pricing:meta.description'),
};

const repairPrices = [
  { title: t('pricing:tables.repair.items.sewingHourlyRate'), price: '50' },
  { title: t('pricing:tables.repair.items.panelChange'), price: 'quote' },
  { title: t('pricing:tables.repair.items.profileChange'), price: 'quote' },
  { title: t('pricing:tables.repair.items.fullFabricPatch'), price: 'quote' },
  { title: t('pricing:tables.repair.items.simpleFabricPatch'), price: 'quote' },
  { title: t('pricing:tables.repair.items.selfAdhesivePatch'), price: 'quote' },
  { title: t('pricing:tables.repair.items.sheathedHangerInstalled'), price: '17' },
  { title: t('pricing:tables.repair.items.sheathedHangerNotInstalled'), price: '13' },
  { title: t('pricing:tables.repair.items.splicedHangerInstalled'), price: '25' },
  { title: t('pricing:tables.repair.items.splicedHangerNotInstalled'), price: '20' },
];

const inspectionDetails = [
  { title: t('pricing:tables.inspections.items.fabricResistance'), price: '30' },
  { title: t('pricing:tables.inspections.items.porosity'), price: '40' },
  { title: t('pricing:tables.inspections.items.suspenseGeometry'), price: '100' },
  { title: t('pricing:tables.inspections.items.visual'), price: '100' },
  {
    title: t('pricing:tables.inspections.items.suspenseResistance.title'),
    children: [
      {
        title: t('pricing:tables.inspections.items.suspenseResistance.sheathed'),
        children: [
          { title: 'x1', price: '20' },
          { title: 'x2', price: '40' },
          { title: 'x3', price: '60' },
        ],
      },
      {
        title: t('pricing:tables.inspections.items.suspenseResistance.nonSheathed'),
        children: [
          { title: 'x1', price: '25' },
          { title: 'x2', price: '50' },
          { title: 'x3', price: '75' },
        ],
      },
    ],
  },
];

const parachuteFoldingPrices = [
  { title: t('pricing:tables.parachute.items.singleSeatWithoutHarness'), price: '50' },
  { title: t('pricing:tables.parachute.items.singleSeatWithHarness'), price: '55' },
  { title: t('pricing:tables.parachute.items.twoSeatWithoutHarness'), price: '55' },
  { title: t('pricing:tables.parachute.items.twoSeatWithHarness'), price: '60' },
  { title: t('pricing:tables.parachute.items.rogallo'), price: '100' },
];
---

<Layout metadata={metadata} ctaBanner>
  <Hero tagline={t('pricing:hero.tagline')} title={t('pricing:hero.title')} subtitle={t('pricing:hero.subtitle')} />

  <Prices
    prices={[
      {
        title: t('pricing:cards.parachute.title'),
        subtitle: t('pricing:cards.parachute.subtitle'),
        price: '50 – 100',
        items: t('pricing:cards.parachute.items', { returnObjects: true }),
        callToAction: {
          text: t('pricing:cards.parachute.cta'),
          href: `${getLocalePath('/tarifs')}#${t('anchors.reserveParachutePackingPriceDetails')}`,
        },
      },
      {
        title: t('pricing:cards.maintenanceSingleSeat.title'),
        subtitle: t('pricing:cards.maintenanceSingleSeat.subtitle'),
        price: 180,
        items: t('pricing:cards.maintenanceSingleSeat.items', { returnObjects: true }),
      },
      {
        title: t('pricing:cards.maintenanceTwoSeat.title'),
        subtitle: t('pricing:cards.maintenanceTwoSeat.subtitle'),
        price: 195,
        items: t('pricing:cards.maintenanceTwoSeat.items', { returnObjects: true }),
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Prices>

  <PriceTable
    title={t('pricing:tables.repair.title')}
    subtitle={t('pricing:tables.repair.subtitle', { contactLink: getLocalePath('/contact') })}
    items={repairPrices}
  />
  <PriceTable id="inspections-price-details" title={t('pricing:tables.inspections.title')} items={inspectionDetails} />
  <PriceTable
    id={t('anchors.reserveParachutePackingPriceDetails')}
    title={t('pricing:tables.parachute.title')}
    items={parachuteFoldingPrices}
  />
</Layout>
