---
import Logo from '~/components/layout/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';
import { headerData } from '~/navigation';
import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class="flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out"
  data-aw-sticky-header
  id="header"
>
  <!-- Div for blured transparent backdrop on scroll -->
  <div class="absolute inset-0"></div>

  <div class="relative text-default py-3 px-3 md:px-6 mx-auto w-full md:grid md:grid-cols-3 md:items-center max-w-7xl">
    <!-- Logo + Mobile Toggle -->
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>

    <!-- Navigation -->
    <nav
      class="items-center w-full md:w-auto hidden md:flex md:mx-5 text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:justify-self-center"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-[0.9375rem] tracking-[0.01rem] font-medium md:justify-center mt-3 md:mt-0"
      >
        {
          headerData.links.map(({ text, href }) => (
            <li
              class:list={[
                'mx-2 md:mx-0 px-4 py-5 md:py-3 transition-colors duration-200 border-b border-black/10 md:border-primary md:border-0 first:border-t first:md:border-t-0',
                {
                  'text-primary font-semibold md:border-b-2 md:border-primary': href === currentPath,
                },
              ]}
            >
              <a class="hover:text-link flex items-center whitespace-nowrap transition-colors duration-200" href={href}>
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <!-- Actions -->
    <div
      class="hidden md:self-center md:flex items-center md:mb-0 fixed w-full md:w-auto md:static justify-end left-0 bottom-0 p-3 md:p-0 md:justify-self-end"
    >
      <div class="items-center flex justify-center w-full md:w-auto">
        {
          headerData.actions?.length ? (
            <span>
              {headerData.actions.map((btnProps) => (
                <Button {...btnProps} class="py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto" />
              ))}
            </span>
          ) : null
        }
      </div>
    </div>
  </div>
</header>
