---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features from '~/components/widgets/Features.astro';
import { useTranslations } from '~/utils/i18n';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import ContentBlock from '~/components/widgets/ContentBlock.astro';
import { reader } from '~/utils/keystatic';

// Images
import advicesAttachPointImage from '~/assets/images/advices-attach-point.jpg';

const { t } = useTranslations(Astro.currentLocale);

const metadata = {
  title: t('advices.meta.title'),
  description: t('advices.meta.description'),
};

// TODO essayer de récup le bon type via keystatic
interface Advice {
  entry: {
    title: string;
    description: string;
    image: string;
    imageAlt: string;
  };
}

const advices: Advice[] = await reader.collections[`${Astro.currentLocale}_advice`].all();
---

<Layout metadata={metadata} ctaBanner>
  <Hero tagline={t('advices.hero.tagline')} title={t('advices.hero.title')} subtitle={t('advices.hero.subtitle')} />

  <Steps
    title={t('advices.inspections.title')}
    items={[
      {
        title: t('advices.inspections.items.inspect.title'),
        description: t('advices.inspections.items.inspect.description'),
        icon: 'tabler:eye',
      },
      {
        title: t('advices.inspections.items.control.title'),
        description: t('advices.inspections.items.control.description'),
        icon: 'tabler:search',
      },
    ]}
    image={{
      src: advicesAttachPointImage,
      alt: t('advices.inspections.image.alt'),
      loading: 'eager',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Steps>

  <Features
    title={t('advices.storage.title')}
    subtitle={t('advices.storage.subtitle')}
    columns={2}
    items={[
      {
        title: t('advices.storage.items.sunExposure.title'),
        description: t('advices.storage.items.sunExposure.description'),
        icon: 'tabler:sun-off',
      },
      {
        title: t('advices.storage.items.humidity.title'),
        description: t('advices.storage.items.humidity.description'),
        icon: 'tabler:droplet-off',
      },
    ]}
  />

  <WidgetWrapper containerClass="max-w-5xl !pb-5">
    <Headline title={t('advices.avoidableMistakes.title')} subtitle={t('advices.avoidableMistakes.subtitle')} />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </WidgetWrapper>

  {
    advices.map((advice, index: number) => (
      <ContentBlock
        title={advice.entry.title}
        icon="tabler:alert-triangle"
        content={advice.entry.description}
        {...(advice.entry.image ? { image: { src: advice.entry.image, alt: advice.entry.imageAlt ?? '' } } : {})}
      >
        {index % 2 !== 0 && (
          <Fragment slot="bg">
            <div class="absolute inset-0 bg-slate-50" />
          </Fragment>
        )}
      </ContentBlock>
    ))
  }
</Layout>
