---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import ShopStatus from '~/components/widgets/ShopStatus.astro';
import { Image } from 'astro:assets';
import shopMapImage from '~/assets/images/shop-map.jpeg';

const metadata = {
  title: 'Contact',
  description: "Prenez rendez-vous par téléphone ou SMS. Merci de prévenir avant tout passage à l'atelier.",
};
---

<Layout metadata={metadata}>
  <!-- Hero Title -->
  <Hero tagline="Contact" title="Prendre rendez-vous" subtitle="Merci de prévenir avant tout passage à l'atelier" />

  <!-- Contact cards -->
  <Features2
    items={[
      {
        title: 'Par téléphone ou SMS',
        description: '(+33) 06 81 30 85 58',
        icon: 'tabler:phone',
        callToAction: {
          text: 'Téléphoner',
          href: 'tel:+33681308558',
          variant: 'secondary',
          target: '_blank',
        },
      },
      {
        title: 'Adresse',
        description: '23 Hautefeuille, 77510 Sablonnières',
        icon: 'tabler:map-pin',
        callToAction: {
          text: "S'y rendre",
          href: "https://www.google.com/maps/dir/?api=1&destination=Atelier+d'Ailes",
          variant: 'secondary',
          target: '_blank',
        },
      },
      {
        title: "Horaires d'ouverture",
        description: 'Du mardi au samedi, de 9h à 18h',
        icon: 'tabler:calendar',
        slotContent: {
          Component: ShopStatus,
          props: {
            id: 'contact',
          },
        },
      },
      {
        title: 'Contact',
        description: 'Merci de ne pas laisser de message vocal, privilégiez <strong>les appels ou SMS</strong>.',
      },
      {
        title: 'Accès',
        description:
          'Via <strong>Hautefeuille</strong> et <strong>route de la Noue</strong>. Attention, certains GPS proposent des itinéraires incorrects.',
      },
      {
        title: 'Rendez-vous',
        description: "Merci de prévenir avant tout passage à l'atelier pour vous assurer de notre disponibilité.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Image src={shopMapImage} alt="Carte indiquant où se trouve l'atelier" loading="lazy" />
</Layout>
