---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/Prices.astro';
import PriceTable from '~/components/PriceTable.astro';

const metadata = {
  title: 'Tarifs',
  description: "Détail des tarifs des prestations de l'atelier, hors frais de port, pour parapente et paramoteur",
};

const inspectionDetails = [
  { title: 'Inspection de porosité', price: '40' },
  { title: 'Inspection géométrique du suspentage (tarif selon correction)', price: '40' },
  { title: 'Inspection visuelle de la voile', price: '100' },
  { title: 'Inspection de la résistance tissu', price: '100' },
  {
    title: 'Inspection de résistance suspente',
    children: [
      {
        title: 'Suspente gainée',
        children: [
          { title: 'x1', price: '20' },
          { title: 'x2', price: '40' },
          { title: 'x3', price: '60' },
        ],
      },
      {
        title: 'Suspente non gainée',
        children: [
          { title: 'x1', price: '25' },
          { title: 'x2', price: '50' },
          { title: 'x3', price: '75' },
        ],
      },
    ],
  },
];

const parachuteFoldingPrices = [
  { title: 'Monoplace sans sellette', price: '50' },
  { title: 'Monoplace avec installation dans la sellette ou container', price: '55' },
  { title: 'Biplace sans sellette', price: '55' },
  { title: 'Biplace avec installation dans la sellette', price: '60' },
  { title: 'Rogallo', price: '100' },
];

const repairPrices = [
  { title: 'Tarif horaire couture', price: '50' },
  { title: 'Changement de panneau (intrados ou extrados)', price: 'quote' },
  { title: 'Changement de profil', price: 'quote' },
  { title: 'Pièce tissu en plein', price: 'quote' },
  { title: 'Pièce tissu simple', price: 'quote' },
  { title: 'Patch autocollant', price: 'quote' },
  { title: 'Suspente gainée posée', price: '17' },
  { title: 'Suspente gainée non posée', price: '13' },
  { title: 'Suspente épissurée posée', price: '25' },
  { title: 'Suspente épissurée non posée', price: '20' },
];
---

<Layout metadata={metadata} ctaBanner>
  <Hero tagline="Tarifs" title="Détail des tarifs" subtitle="Hors frais de port" />

  <Prices
    prices={[
      {
        title: 'Pliage de parachute de secours',
        subtitle: 'Monoplace, biplace, avec ou sans container',
        price: '50 – 100',
        items: [
          { description: 'Ventilé et aéré' },
          { description: 'Remplacement des élastiques' },
          { description: 'Contrôle visuel' },
          { description: 'Replié selon les normes constructeur' },
        ],
        callToAction: {
          text: 'Voir le détail',
          href: '/pricing#reserve-parachure-packing-price-details',
          variant: 'secondary',
        },
      },
      {
        title: 'Révision périodique monoplace',
        subtitle: 'ParachecK®',
        price: 180,
        items: [
          { description: 'Mesures de porosité des tissus' },
          { description: 'Tests de résistance des tissus' },
          { description: 'Tests de résistance suspentes' },
          { description: 'Mesures dimensionnelles du suspentage' },
          { description: 'Inspection visuelle et tactile complète' },
        ],
      },
      {
        title: 'Révision périodique\nbiplace',
        subtitle: 'ParachecK®',
        price: 195,
        items: [
          { description: 'Mesures de porosité des tissus' },
          { description: 'Tests de résistance des tissus' },
          { description: 'Tests de résistance suspentes' },
          { description: 'Mesures dimensionnelles du suspentage' },
          { description: 'Inspection visuelle et tactile complète' },
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50 dark:bg-transparent"></div>
    </Fragment>
  </Prices>

  <PriceTable
    id="repair-price-details"
    title="Réparation"
    subtitle="Chaque réparation est unique. <a href='/contact' class='external-link'>Contactez l’atelier</a> pour obtenir un devis personnalisé en fonction de l’état de votre aile, du type d’intervention et des réparations nécessaires."
    items={repairPrices}
  />
  <PriceTable id="inspections-price-details" title="Inspections au détail" items={inspectionDetails} />
  <PriceTable
    id="reserve-parachure-packing-price-details"
    title="Pliage de parachute de secours"
    items={parachuteFoldingPrices}
  />
</Layout>
