---
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import FeaturesImages from '~/components/widgets/FeaturesImages.astro';
import { useTranslations } from '~/utils/i18n';

// Images
import maintenanceImage from '~/assets/images/maintenance.jpg';
import reserveParachutePackingImage from '~/assets/images/reserve-parachute-packing.jpg';
import repairImage from '~/assets/images/repair.jpg';
import repairImageExample1 from '~/assets/images/repair-example-1.jpg';
import repairImageExample2 from '~/assets/images/repair-example-2.jpg';
import repairImageExample3 from '~/assets/images/repair-example-3.jpg';
import repairImageExample4 from '~/assets/images/repair-example-4.jpg';
import repairImageExample5 from '~/assets/images/repair-example-5.jpg';
import repairImageExample6 from '~/assets/images/repair-example-6.jpg';
import Markdown from '~/components/ui/Markdown.astro';

const { t } = useTranslations(Astro.currentLocale);

const metadata = {
  title: t('services.meta.title'),
  description: t('services.meta.description'),
};
---

<Layout metadata={metadata} ctaBanner>
  <Hero tagline={t('services.hero.tagline')} title={t('services.hero.title')} subtitle={t('services.hero.subtitle')} />

  <Content
    id="maintenance"
    items={[
      {
        title: t('services.maintenance.items.frequency.title'),
        description: t('services.maintenance.items.frequency.description'),
        icon: 'lucide:timer-reset',
      },
      {
        title: t('services.maintenance.items.report.title'),
        description: t('services.maintenance.items.report.description'),
        icon: 'lucide:clipboard-check',
      },
    ]}
    image={{
      src: maintenanceImage,
      alt: t('services.maintenance.image.alt'),
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">
        {t('services.maintenance.title')}
      </h2>
      <Markdown class="text-muted" content={t('services.maintenance.description')} />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Content>

  <Features3
    title={t('services.controls.title')}
    subtitle={t('services.controls.subtitle')}
    columns={3}
    isBeforeContent={true}
    classes={{ container: 'mb-10' }}
    items={[
      {
        title: t('services.controls.items.porosity.title'),
        description: t('services.controls.items.porosity.description'),
        icon: 'tabler:select-all',
      },
      {
        title: t('services.controls.items.fabricResistance.title'),
        description: t('services.controls.items.fabricResistance.description'),
        icon: 'lucide:shield-check',
      },
      {
        title: t('services.controls.items.suspenseResistance.title'),
        description: t('services.controls.items.suspenseResistance.description'),
        icon: 'lucide:chart-no-axes-gantt',
      },
      {
        title: t('services.controls.items.measures.title'),
        description: t('services.controls.items.measures.description'),
        icon: 'tabler:ruler-measure',
      },
      {
        title: t('services.controls.items.inspection.title'),
        description: t('services.controls.items.inspection.description'),
        icon: 'tabler:eye-check',
      },
    ]}
  />

  <Content
    id="repair"
    isReversed
    image={{
      src: repairImage,
      alt: t('services.repair.image.alt'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">{t('services.repair.title')}</h3>
      <Markdown class="text-muted" content={t('services.repair.description')} />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Content>

  <FeaturesImages
    title={t('services.repair.examples.full.title')}
    items={[
      {
        image: repairImageExample1,
        alt: t('services.repair.examples.full.image.alt'),
      },
      {
        image: repairImageExample2,
        alt: t('services.repair.examples.full.image.alt'),
      },
      {
        image: repairImageExample3,
        alt: t('services.repair.examples.full.image.alt'),
      },
    ]}
  />

  <FeaturesImages
    title={t('services.repair.examples.simple.title')}
    items={[
      {
        image: repairImageExample4,
        alt: t('services.repair.examples.simple.image.alt'),
      },
      {
        image: repairImageExample5,
        alt: t('services.repair.examples.simple.image.alt'),
      },
      {
        image: repairImageExample6,
        alt: t('services.repair.examples.simple.image.alt'),
      },
    ]}
  />

  <Content
    id="reserve-parachute-packing"
    items={[
      {
        title: t('services.reserveParachutePacking.items.frequency.title'),
        description: t('services.reserveParachutePacking.items.frequency.description'),
        icon: 'lucide:timer-reset',
      },
    ]}
    image={{
      src: reserveParachutePackingImage,
      alt: t('services.reserveParachutePacking.image.alt'),
    }}
  >
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">
        {t('services.reserveParachutePacking.title')}
      </h3>
      <Markdown class="text-muted" content={t('services.reserveParachutePacking.description')} />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-slate-50"></div>
    </Fragment>
  </Content>
</Layout>
