---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/layout/Header.astro';
import Footer from '~/components/layout/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import announcementContent from '~/content/announcement.json';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  ctaBanner?: boolean;
}

const { metadata, ctaBanner = false } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="sticky top-0 z-50">
    {
      import.meta.env.PUBLIC_ENABLE_ANNOUNCEMENT === 'true' && (
        <slot name="announcement">
          <Announcement message={announcementContent.message} href={announcementContent.href} />
        </slot>
      )
    }

    <slot name="header">
      <Header />
    </slot>
  </div>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer ctaBanner={ctaBanner} />
  </slot>
</Layout>
